.row{
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top:10px;
    padding-bottom: 5px;
    border-bottom: 2px solid hsl(223, 64%, 98%);
}
ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li img{
    padding-right:30px;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:#6b7074;
}
ul li a:hover{
    border-bottom:3px solid hsl(26, 100%, 55%);
}
ul button{
    border: none;
    background-color: transparent;
}
ul li img{
    display: flex;
    align-items: center;
}

.cart-profile .avatar:hover{
    border:3px solid hsl(26, 100%, 55%);
    border-radius: 50px;
}

.cart-profile .avatar{
   max-width: 70%;
   height: auto;   
}
.row .product-info, .row .product-image{
    padding-top:0px;
}
.product-info p:first-of-type{
    padding-bottom:15px;
    font-weight:700;
}
.product-info h1{
    padding-bottom:10px;
    font-weight:700;
    display: flex;
    flex-wrap: wrap;
}
.product-info p{
    padding-bottom: 10px;
    font-weight:400;
}
.product-info span{
    margin-left:10px;
    font-size:16px;
}
.price-discount{
    font-size:26px;
    padding-bottom:5px;
}
.initial-price{
    padding-bottom:35px;
}
.plus{
    margin-right:5px;
}
.current-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-image{
    margin-top:60px;
}
.current-image img{
    border-radius:25px;
    margin-bottom:40px;
}
.current-image .modal-button{
    border:none;
    padding:0px;
    margin:0px;
    background-color: transparent;
}
.product-image .modal-content{
    background-color: transparent;
    border: none;
}
.product-image .modal-header{
    display:flex;
    justify-content: flex-end;
    border:none;
}
.product-image .modal-header button{
    margin:0px;
    padding:0px;
    border:none;
    background-color: transparent;
    color:white;  
    
}
.modal-header span:hover{
    color:hsl(26, 100%, 55%);
}
.previous, .next{   
    border:none;
    border-radius:50%;
    padding:5px;
    
}
.previous:hover, .next:hover{
    color:hsl(26, 100%, 55%);
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body img{
    object-fit: contain;
    overflow:none;
    width:100%;
    height:100%;
    z-index:90;
}
.modal-footer{
    border:none;
}
.modal-footer .col-3:hover,.col-3:hover{
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0.5;
    border:3px solid hsl(26, 100%, 55%);
    
    
}
.thumbnails{
    display:flex;
}
.thumbnails img{
    border-radius:25px;
    padding:0px 10px;
}
.product-info{
    padding-left: 60px;
}
.product-info p:first-of-type{
    color:hsl(26, 100%, 55%);
}
.price-discount{
    font-weight: bold;
}
.price-discount span{
    color:hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    border-radius:5px;
    padding:3px;
}
.initial-price{
    text-decoration: line-through;
}
label{
    margin-right:10px;
    margin-bottom:5px;
}
#size{
    border:none;
    border-color: transparent;
    color:white;
    background-color: hsl(26, 100%, 55%);
    border-radius:5px;
    margin:10px 0px;
    margin-bottom:5px;
}
.minus, .quantity, .plus{
    border:none;
    border-radius:5px;
   
}
.minus img,  .plus img{
    padding:10px;
}
.minus{
    margin-right: 0px;
}
.plus{
    margin-left: 0px;
}
.quantity{
    padding:5px 20px;
    font-weight: 700;
    margin:0px;
}
.add-to-cart{
    background-color: hsl(26, 100%, 55%);
    color:white;
    border-radius:5px;
    border:none;
    padding:10px 60px;
    font-weight: 700;
    box-shadow: 0 0 10px hsl(26, 100%, 55%);
}
.add-to-cart img{
    padding-right:10px;
    filter:brightness(0),invert(1);
    
}
#cart-product-image{
    width:25px;
    height: 25px;
    border-radius:5px;
    display:none;
}